h1{
    color: rgb(14, 221, 159);
}
body{
    background-color: rgb(228, 238, 245);
    border: 12px, 1pax solid black;

    padding: auto;
    
}
.Description{
    text-align: justify;
    font-size: medium;
    text-decoration: aqua;
    }
h2{
    text-align: justify;
    font-size: medium;
   color: rgb(170, 163, 125);

}
table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    
  }
  th, td {
    background-color: #96D4D4;
  }
table{
      margin-top: 40px;
     
  }
  h2{
      font-size: 9pax;
  }
  .submit{
    margin-top: 4px;
  }
  h4{
      color: rgb(26, 211, 20);
  }
